
{% extends 'base.html' %}

{% block stylesheets %}



    <script type="text/javascript">

        var textID = '';

        function fetchdata(){
            $.ajax({
              url: '/fetch_pipe_progress',
              type: 'post',
              data: {'pipe_id': '{{pipe._id}}'},
              success: function(response){
                  document.getElementById("progress").innerHTML = response["log_text"];
                  var status = response["status"];

                  $(".status_label").hide();
                  $("#" + status).show();
                  if (status == "STARTED") {
                      $(".moon").show();

                  } else{
                      $(".moon").hide();
                  }
                  if (status == "SUCCESS"){
                      $('.show_investigator').show();
                      clearInterval(textID);
                  }
                  if (status == "FAILURE"){
                      clearInterval(textID);
                  }
                  if(status == "SUCCESS" || status =="FAILURE" || status == "REVOKED") {
                      $('#btn_stop').hide();
                  }
                  else{
                      $('#btn_stop').show();
                  }
              }
             });
        }

        $(document).ready(function(){
            $(".moon").hide();
            $(".status_label").hide();
            $('.show_investigator').hide();
            textID = setInterval(fetchdata, 10 * 1000);

             $('.cancel_computation').click(function (event) {
                var delete_link = this.getAttribute("delete-url");
                $('#stop_link').attr('href', delete_link)
                UIkit.modal('#my-flashy-stop-modal').show();
            });
        });






    </script>



{% endblock %}

{% block content %}

    {% include ('general/stop_computation_modal.html') %}

    <div class="uk-grid uk-background-cover photon-running" uk-height-viewport="offset-bottom: 150px">
        <div class="uk-width-1-3@s photon-animation">
            <header class="animated-header">
              <div class="loading">Waiting for "load" event...</div>
              <div class="earth">
                <img src="https://cssanimation.rocks/images/random/earth.png">
              </div>
              <div class="moon">
                  <img src="/static/img/udo_emoji.png">
                <!--<img src="https://cssanimation.rocks/images/random/moon.png">-->
              </div>


            </header>
        </div>
        <div class="uk-width-2-3@s pipe_running_infos">
            <h4>
                Running pipe
            </h4>
            <h2>{{pipe.name}} <span id="statusDiv">
                <span id="SUCCESS" class="uk-label uk-label-success status_label" >SUCCESS</span>
                <span id="STARTED" class="uk-label uk-label-warning status_label" >RUNNING</span>
                <span id="FAILURE" class="uk-label uk-label-danger status_label" >ERROR</span>

                <span id="RECEIVED" class="uk-label uk-label-default status_label" >RECEIVED</span>
                <span id="PENDING" class="uk-label uk-label-default status_label" >PENDING</span>
                <span id="REVOKED" class="uk-label uk-label-default status_label" >CANCELLED</span>

            </span>

                <a href="#"
                   id="btn_stop"
                   delete-url="{{url_for('cancel_computation', pipe_id=pipe._id)}}"
                   class="cancel_computation"
                   uk-tooltip="Cancel Computation">
                    <span style="font-weight: bold" uk-icon="icon: close"></span>
                </a>
            </h2>

            <div class="show_investigator">
                <h2>Inspect Analysis Results</h2>
                <a href="{{url_for('download_json', pipe_id=pipe._id)}}" target="_blank"
                   class="uk-button uk-button-primary">Download Result JSON</a>
                <a href="{{url_for('download_summary', pipe_id=pipe._id)}}" target="_blank"
                   class="uk-button uk-button-primary">Download Result Summary</a>
                <p>Drag your downloaded Reusult JSON to
                    <a target="_blank" rel="noopener noreferrer" href="https://explorer.photon-ai.com">PHOTONAI Explorer</a>
                    and inspect the analysis.</p>

                <!--<a href="{# url_for('download_model')#}" target="_blank"-->
                   <!--class="uk-button uk-button-primary">Download PHOTON Model </a>-->
            </div>
            <h4>
                Output folder
            </h4>
            <p style="margin-top: 0px; margin-bottom: 40px;">{{current_path}}</p>

            <h4>
                Progress
            </h4>
            <pre id="python-syntax-pre" style="max-height: 400px;">
                <code id="progress" class="bash hljs">
You can logout and drink some coffee, even shutdown your computer,
your analysis will still be run on the server unaffected.

Come back later and inspect the result.
But bring some coffee for the wizard, too!

  ...waiting to retrieve pipeline status...
                </code>
            </pre>


        </div>
    </div>


{% endblock %}


