<div class="uk-offcanvas-content">
    <div>
        <div id="offcanvas-usage" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-width-1-2@m uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <h3>PHOTON SYNTAX</h3>
                <pre id="python-syntax-pre">
                    <code class="python">
                        {{photon_code}}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
