<div id="my-flashy-stop-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
         <h2 class="uk-modal-title">Photon Wizard</h2>
         <img src="/static/img/wizard.png" class="uk-align-left" />
         <p> If you stop the computation of your analysis, all preliminary results remain in your
             folder and you can restart it at any time later!</p>
        <a id="stop_link" href="" class="uk-button uk-button-danger">Stop</a>
        <a class="uk-modal-close uk-button uk-button-primary" type="button">Continue</a>
    </div>
</div>
