<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>PHOTONAI WIZARD</title>

<!--    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font_notosans.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photon_wizard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooltipster.bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">


    <script src="{{ url_for('static', filename='js/jquery-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tooltipster.bundle.min.js') }}"></script>


 <!-- Python Syntax Highlighting -->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/androidstudio.css') }}">-->
<!--    <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>-->
<!--    <script>hljs.initHighlightingOnLoad();</script>-->


    <script src="{{ url_for('static', filename='js/prism.js') }}" type="text/javascript"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/cookieconsent.min.css') }}">
    <script src="{{ url_for('static', filename='js/cookieconsent.min.js') }}"></script>


    <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#237afc"
            },
            "button": {
              "background": "#fff",
              "text": "#237afc"
            }
          },
          "content": {
            "message": "We use a cookie! It helps us letting you skip back and forth through the Wizard's steps. We don't save any information about you.",
            "dismiss": "Okay!"
          }
        })});

        $(document).ready(function() {
            $('.tooltip').tooltipster({
                theme: 'tooltipster-shadow',
                side: 'right',
                delay: 200,
                interactive: true,
                contentAsHTML: true,
            });

            $('.photon-radio-selectable').click(function(){

                class_string = ".option_group_" + $(this).attr('name');
                $(class_string).hide("slow");
                // alert(class_string);
                id_string = "#options_" +  $(this).attr('id');
                $(id_string).show("slow");
                // alert(id_string);

            });
            $('.photon-multi-selectable').click(function(){
                id_string = "#options_" +  $(this).attr('id');
                if ($(this).prop('checked'))
                {
                    // alert('show: ' + id_string)
                    $(id_string).show("slow");
                }
                else{
                    $(id_string).hide("slow");
                    // alert('hide: ' + id_string)

                }
            })

            {% if not config.UDO_MODE %}
                $('#new_pipe').click(function (event) {
                    UIkit.modal('#my-flashy-delete-modal').show();
                });
            {% endif %}
        });
    </script>




    {% block stylesheets %}
    {% endblock %}

</head>
{% if success %}
    {% set flash_message = "UIkit.modal('#my-flash-modal').show();" %}
{% else %}
    {% set flash_message = "" %}
{% endif %}


<body onload="{{ flash_message }}">

    {% if success %}
        <! -- alert messages -- >
        <div id="my-flash-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                 <h2 class="uk-modal-title">PHOTONAI Wizard</h2>
                 <img src="/static/img/wizard.png" class="uk-align-left" />
                 <p>{{success | safe}}</p>
                <button class="uk-modal-close" type="button">Okay</button>
            </div>
        </div>
    {% endif %}

    {% if not config.UDO_MODE %}
        <div id="my-flashy-delete-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                 <h2 class="uk-modal-title">PHOTONAI Wizard</h2>
                 <img src="/static/img/wizard.png" class="uk-align-left" />
                 <p>Yeah! Let's start a new pipeline.
                     We just want to make sure you know that all of your current choices are then replaced with a fresh and
                     empty pipeline. </p>
                <a href="{{url_for('new_pipeline')}}" class="uk-button uk-button-danger">Start new</a>
                <a class="uk-modal-close uk-button uk-button-primary" type="button">Cancel</a>
            </div>
        </div>
    {% endif %}

    {% block background %}
    {% endblock %}

    <div class="wrapper">

        <header class="main-header">
            <div class="uk-clearfix photon-top-menu" uk-sticky>
                <div uk-grid>

                    {% if config.UDO_MODE %}
                        <div class="uk-width-1-6@m">

                        </div>
                        <div class="uk-width-1-2@m">
                                <nav id="navbar" class="uk-navbar-left uk-float-left" uk-navbar>
                                    <ul class="uk-navbar-nav " id="menu">
                                            <li><a href="{{url_for('default_pipeline_list')}}">New Project</a></li>
                                            <li><a href="{{url_for('project_history')}}">My Projects</a></li>
                                            <li><a href="{{url_for('titania_queue')}}">Worker</a></li>
                                            <li><a href="{{url_for('faq')}}">FAQ</a></li>
                                            <li><a href="{{url_for('logout')}}" uk-icon="icon: sign-out"></a></li>
                                            <li id="hidden-quiz-button"><a href="{{url_for('hidden_quiz')}}">Quiz</a></li>
                                    </ul>
                                </nav>
                        </div>
                     {% else %}
                        <div class="uk-width-2-3@m">
                            <div class="photon_web_wizard_navi">
                                <ul>
                                    <li><img src="/static/img/wizard.png" class="wizard_icon_size"></li>
                                    <li>&nbsp;Hi there.&nbsp;You can start a <a href="#" id="new_pipe">new analysis</a>,</li>
                                    <li>&nbsp;choose a <a href="{{url_for('default_pipeline_list')}}" >default_pipe</a></li>
                                    <li>&nbsp;or go back to the <a href="https://www.photon-ai.com" target="_blank">PHOTONAI Website</a></li>
                                </ul>
                            </div>
                        </div>
                     {% endif %}


                    <div class="uk-width-1-3@m">
                        <div class="photon-logo photon-logo-nav uk-float-right uk-margin-right">PHOTONAI WIZARD <!--<sup>BETA</sup>--></div>
                    </div>
                </div>
            </div>

        </header>


        <!-- Content Wrapper. Contains page content -->
        <!---->
        <div class="content-wrapper" uk-height-viewport="offset-bottom: 150px">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /.content-wrapper -->


        <footer class="main-footer">
            <div class="uk-container">
                <div>
                    <strong>Version 0.1 | Copyright &copy; 2019 - 2022 <a href="http://www.photon-ai.com/">PHOTON</a>.</strong> All rights
                reserved.
                </div>
            </div>

        </footer>

    </div>
        <!-- ./wrapper -->


    {% block offcanvas %}
        {% include '/pipeline_steps/off_canvas.html' %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}

</body>
</html>
