<!-- -*- mode: jinja2 -*- -->
{% extends 'base.html' %}

{% block content %}
<div class="uk-width-1-2 uk-align-center" uk-grid>

    <div class="hidden-quiz">
        <dl class="uk-description-list uk-description-list-divider">
            <dt>You have found the hidden quiz.</dt>
            <dd><img src="/static/img/wizard.png"/></dd>
            <dt>Q: What did the wizard name his son?</dt>
            <dd>A: Maxspell.</dd>
            <dt>Q: What happened to the naughty wizard at school?</dt>
            <dd>A: He was ex-spelled.</dd>
            <dt>Q: What did the tired wizard do?</dt>
            <dd>A: He sat down for a spell.</dd>
            <dt>Q: What side of a wizard has the most hair?</dt>
            <dd>A: The Outside.</dd>
            <dt>Q: What happens to wizards when it rains?</dt>
            <dd>A: They get wet just like everyone else!</dd>
            <dt>Q: Who did the wizard marry?</dt>
            <dd>A: His longtime ghoul-friend.</dd>
            <dt>Q: How do you make a wizard float?</dt>
            <dd>A: Root beer, one scoop of ice cream, and one wizard.</dd>
        </dl>
    </div>
</div>
{% endblock %}